.contactTitle {
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}

.contactLink {
  color: #ffa7c4;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #ffa7c4;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
