.title {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.date {
  font-size: 13px;
  font-weight: 400;
  color: #d1d5db;
}

.content {
  font-size: 16px;
  font-weight: 400;
  color: #d1d5db;
}
